<div class = "raceentry">
<%= race.name %>  <%= race.daymonth %><br>
</div>
<div id ="raceinfo" style= "display:none">
	<%= race.date %>
</div>


<script type="text/javascript">
   $(function(){
       $('.raceentry').click(function(){
           $('#raceinfo').toggle();
       });
   });

</script>

