<head>
	<style>
	.temp{
		width: 35%
	}
	</style>
</head>
<ul class="pricing-table temp">
  <li class="title"><%= @user.player_teams.last.primary_driver.name %></li>
  <li class="bullet-item">Age: 23</li>
  <li class="bullet-item">Wins: 0</li>
  <li class="bullet-item">Races: 35 (35 starts)</li>
</ul>