<p>Transfer market</p>

<div class="transfer-market">
  <%= form_tag transfer_markets_path,method: "get", remote: true do %>
    <%= collection_select(:transfer_market, :id, @races, :id, :name, {:selected => @selected_race_id}) %>
    <%= submit_tag %>
  <% end %>
</div>
<table id="driver-market-table">
  <thead>
    <tr>
      <th>Driver</th>
      <th>Score</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
      <%= render partial: 'driver_market', collection: @drivers_market, as: :market %>
  </tbody>
</table
