<div class="static-page">
  <div class="row">
    <div class="medium-1 large-1 columns add-height"></div>
    <div class="medium-10 large-10 columns">
      <h1>About This Game</h1>

      <h2><%= image_tag 'drivers/helmets-small/helmet-template-raikkonen-85x61.jpg' %>Technologies Used</h2>

      <ul>
        <li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
        <li><a href="https://www.ruby-lang.org/en/">Ruby</a></li>
        <li><a href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">HTML5</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3">CSS3</a></li>
        <li><a href="http://foundation.zurb.com/">Foundation5</a></li>
        <li><a href="https://jquery.com/">jQuery</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Ajax_%28programming%29">AJAX</a></li>
      </ul>
      <h2><%= image_tag 'drivers/helmets-small/helmet-template-hulkenberg-85x61.jpg' %>Attribution</h2>
      <ul>
        <li><a href="http://ergast.com/mrd/">ergast.com</a> - API to get F1 Race results.</li>
        <li><a href="http://www.gpupdatemanager.net/">gpupdatemanager.net</a> - For game rules.</li>
        <li><a href="http://www.pitpass.com/">pitpas.com</a> - For images of drivers and teams.</li>
        <li><a href="http://www.grandprix247.com/2014/03/12/2014-f1-season-driver-helmets/">grandprix247.com</a> - images of driver helmets.</li>
        <li><a href="http://www.ausmotive.com/F1/2010/Monaco-GP-05.jpg">AUSmotive.com</a> - images of monaco gp.</li>
      </ul>
    </div>
    <div class="medium-1 large-1 columns add-height"></div>
  </div>
</div>